{%- if theme.footer.beian.enable %}
  <div class="beian">

  </div>
{%- endif %}



{%- if config.symbols_count_time.total_symbols or config.symbols_count_time.total_time %}
<div class="wordcount">
  {%- if config.symbols_count_time.total_symbols %}
  <span class="post-meta-item">
    <span class="post-meta-item-icon">
      <i class="fa fa-chart-line"></i>
    </span>
    {%- if theme.symbols_count_time.item_text_total %}
      <span>{{ __('symbols_count_time.count_total') + __('symbol.colon') }}</span>
    {%- endif %}
    <span title="{{ __('symbols_count_time.count_total') }}">{{ symbolsCountTotal(site) }}</span>
  </span>
  {%- endif %}

  {%- if config.symbols_count_time.total_time %}
  <span class="post-meta-item">
    <span class="post-meta-item-icon">
      <i class="fa fa-coffee"></i>
    </span>
    {%- if theme.symbols_count_time.item_text_total %}
      <span>{{ __('symbols_count_time.time_total') }} &asymp;</span>
    {%- endif %}
    <span title="{{ __('symbols_count_time.time_total') }}">{{ symbolsTimeTotal(site, config.symbols_count_time.awl, config.symbols_count_time.wpm, __('symbols_count_time.time_minutes')) }}</span>
  </span>
  {%- endif %}
</div>
{%- endif %}

{%- if theme.busuanzi_count.enable %}
<div class="busuanzi-count">
  {%- if theme.busuanzi_count.total_visitors %}
    <span class="post-meta-item" id="busuanzi_container_site_uv">
      <span class="post-meta-item-icon">
        <i class="{{ theme.busuanzi_count.total_visitors_icon }}"></i>
      </span>
      <span class="site-uv" title="{{ __('footer.total_visitors') }}">
        <span id="busuanzi_value_site_uv"></span>
      </span>
    </span>
  {%- endif %}

  {%- if theme.busuanzi_count.total_views %}
    <span class="post-meta-item" id="busuanzi_container_site_pv">
      <span class="post-meta-item-icon">
        <i class="{{ theme.busuanzi_count.total_views_icon }}"></i>
      </span>
      <span class="site-pv" title="{{ __('footer.total_views') }}">
        <span id="busuanzi_value_site_pv"></span>
      </span>
    </span>
  {%- endif %}
</div>
{%- endif %}

{%- if theme.footer.powered %}
  <div class="powered-by">
    {%- set next_site = 'https://theme-next.js.org' if theme.scheme === 'Gemini' else 'https://theme-next.js.org/' + theme.scheme | lower + '/' %}
    {{- __('footer.powered', next_url('https://hexo.io', 'Hexo') + ' & ' + next_url(next_site, 'NexT.' + theme.scheme)) }}
  </div>
{%- endif %}

{%- if theme.add_this_id %}
  <div class="addthis_inline_share_toolbox">
    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ theme.add_this_id }}" async="async"></script>
  </div>
{%- endif %}

<!-- 彩色标签 -->
<footer id="footerright" class="clearfix">
	<div class="github-badge">
	  <a style="color: #fff" rel="license" href="https://beian.miit.gov.cn/" target="_blank" title="津ICP备2021000769号-2 ">
	  <span class="badge-subject">津ICP备</span><span class="badge-value bg-red">2021000769号-2 </span></a>
	</div>
	<div class="github-badge">
	  <a style="color: #fff" rel="license" href="https://www.mahaofei.com/" target="_blank" title="Copyright:https://www.mahaofei.com/">
	  <span class="badge-subject">Copyright</span><span class="badge-value bg-lightgray">2020-2022</span></a>
	</div>
	<div class="github-badge">
	  <a style="color: #fff" rel="license" href="https://wangzhan.baidu.com/web/welcome/ico?s=439a0d0abeb31dd8f338efd8266c999b" target="_blank" title="本站建自2021年1月21日">
	  <span class="badge-subject">运行时间</span><span class="badge-value bg-orange"></script>
    <span id="runtime_span"></span>
    <script type="text/javascript">function show_runtime(){window.setTimeout("show_runtime()",1000);X=new 
    Date("1/21/2021 14:56:40");
    Y=new Date();T=(Y.getTime()-X.getTime());M=24*60*60*1000;
    a=T/M;A=Math.floor(a);b=(a-A)*24;B=Math.floor(b);c=(b-B)*60;C=Math.floor((b-B)*60);D=Math.floor((c-C)*60);
    runtime_span.innerHTML=A+"天"+B+"时"+C+"分"+D+"秒"}show_runtime();</script></span></a>
	</div>
  <div class="with-love">
    <a href="https://wangzhan.baidu.com/web/welcome/ico?s=439a0d0abeb31dd8f338efd8266c999b">
      <img src="https://wangzhan.baidu.com/sc-web/image/icon/41.gif?__v=1638878820259" alt="" style="height:17px;margin-bottom:-3px">
    </a>
  </div>
</footer>

<footer id="footer" class="clearfix">
	<div class="github-badge">
	  <a style="color: #fff" rel="license" href="https://hexo.io/" target="_blank" title="由 Hexo 强力驱动">
	  <span class="badge-subject">Powered</span><span class="badge-value bg-blue">Hexo</span></a>
	</div>
	<div class="github-badge">
	  <a style="color: #fff" rel="license" href="https://github.com/" target="_blank" title="静态网页托管于 GitHub Pages 和 Coding Pages">
	  <span class="badge-subject">Hosted</span><span class="badge-value bg-brightgreen">GitHub &amp; Coding</span></a>
	</div>
	<div class="github-badge">
	  <a style="color: #fff" rel="license" href="https://www.aliyun.com/" target="_blank" title="阿里云提供域名相关服务">
	  <span class="badge-subject">CDN</span><span class="badge-value bg-blueviolet">Aliyun</span></a>
	</div>
	<div class="github-badge">
		<a style="color: #fff" rel="license" href="https://github.com/next-theme/hexo-theme-next" target="_blank" title="站点使用 NexT 主题">
	  <span class="badge-subject">Theme</span><span class="badge-value bg-blue">Material X</span></a>
	</div>
</footer>
{{- next_inject('footer') }}