#category-bar
    .category-bar-items#category-bar-items
        .category-bar-item(id='首页')
            a(href="/") 首页
        .category-bar-item(id='机器人')
            a(href="/categories/机器人/") 机器人
        .category-bar-item(id='程序设计')
            a(href="/categories/程序设计/") 程序设计
        .category-bar-item(id='嵌入式')
            a(href="/categories/嵌入式/") 嵌入式
        .category-bar-item(id='机械')
            a(href="/categories/机械/") 机械
        .category-bar-item(id='破解技巧')
            a(href="/categories/破解技巧/") 破解技巧
        .category-bar-item(id='随笔')
            a(href="/categories/随笔/") 随笔
    a.category-bar-more(href="/categories/") 更多